<h1>sara's to-do list</h1>

<div id="main">
  <form action='/' method='POST'>
    <p>what is there to do?</p>
    <input type='text' placeholder='task' name='idea[title]'/>
    <input type='text' placeholder='description' name='idea[description]'/>
    <input type='submit' value='submit'/ class='submit-idea'>
  </form>
</div>

<div id="form">
  <p>yet to be to-done:</p>
    <ul>
      <% ideas.each do |idea| %>

        <li>
          <span><%= idea.title %><br/></span>
                <%= idea.description %>

          <br>
          <a href="/<%= idea.id %>/edit" class="button">edit</a>

          <form action='/<%= idea.id %>/like' method='POST' style='display:inline'>
            <input type='submit' value='bump'/>
          </form>

          <form action='/<%= idea.id %>' method='POST' class='idea-action'>
            <input type='hidden' name='_method' value='DELETE'>
            <input type='submit' value='done'/>
          </form>
        </li>

      <% end %>
    </ul>
</div>


<footer>© sara simon (except not really)</footer>
